@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700");

body {
  font-family: "Nunito", "Roboto", sans-serif;
}

.trip-search-container {
  width: 100%;
  height: 100vh;
  background: "#eee";
}
.header-title {
  margin-top: -10vh;
  text-align: center;  
}
.custom-button {
  background-image: linear-gradient(to right, #f51414 0%, #f03252 51%, #e9630a 100%);
  border: none !important;
  box-shadow: none !important;
}

.travel-bg {  
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100%;
  background: url('bg.jpeg');
}

.arrow-pill {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}