@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700");

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
